body{
    background: yellow;
    box-shadow: 2px 2px red;
}

h1{
    color: red;
    text-align:center;
    border:4px solid blue;
    text-shadow:2px 2px white;
}
.container{
    background: linear-gradient(to top,red,blue);
}