*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    background-color: cyan;
}
div.container{

}
h1{
    font-size: 3rem;
    color:red;
    text-align:center;
}
.input_div{
    display: flex;
    
    justify-content: center;
    align-items: center;
    text-align: center;
}
.input_div .input{
    background-color: #fff;
    height:50px;
    width:350px;
    border-radius:25px;
    margin:0.25rem;
    font-size:1.15rem;
    padding:1rem;
}
.input_div .addButton{
    background-color: brown;
    height:50px;
    width:50px;
    border-radius:25px;
    margin:0.5rem;
    font-size:1.15rem;
    padding:0.5rem;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;

}

.item{
    padding:1rem;
}
.item_input{
    color:red;
    width: 350px;
    font-size: 1.4rem;
}
.editbutton{
    font-size:1.4rem;
    margin: 0 0.5rem;
    font-family:'Hind' sans-serif;
    color:lime;
}
.removebutton{
    font-size:1.4rem;
    margin: 0 0.5rem;
    font-family:'Hind' sans-serif;
    color:red;
}

.input_div .addButton:hover{
    background-color:green;
    cursor: pointer;
}